#outside{
    width:100%;
    height:100%;
    background-color:#FFC7A7;
    text-align: center;
    transition: 1s;
    position:absolute;
    transform-origin: 0;
    z-index:-1;
}
#title1{
    font-size: 30px;
    color:#594100;
    font-family:cursive;
}
#inside{
    width:100%;
    height:100%;
    background-color:#da9191 ;
    text-align: center;
    transition: 1s;
    z-index: -2;
    position: absolute;
}
#title2{
    font-size: 30px;
    color:#643843;
    font-family: cursive;
}
.open{
    transform:rotateY(90deg)
}
img{
    width:200px;
    height: 200px;
    align-items: center;
    position: relative;
    left:48px;
}
button{
    position:relative;
    text-align: center;
    top:50px;
    right:100px;
}